#drop_zone {
    position: relative;
}

#upload_overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    color: white;
    z-index: 10000;
}

.file_over #upload_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table thead th {
    vertical-align: middle;
}